/**
 * The MiWiKi Cascading Style Sheet (CSS) Configuration file.
 *
 * This file defines the global styles that are used by the MiWiKi engine.
 *
 * As the small size of the file shows, MiWiKi is a simple wiki.
 *
 * Please feel free to edit as you see fit for your own site.
 * (If you edit this file, remember to make a backup copy.)
 */

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');


/* Disable underlining of links. */
a {
    text-decoration: none;
}

/* Default link color is blue. */
a:link {
    color: blue;
}

/* Visited links are shown in green. */
a:visited {
    color: green;
}

/* When the mouse cursor is over a link, show it in red. */
a:hover {
    color: red;
}

/* Change the font to a more nice web font and increase the size of the text by 25 percent. */
body {
    /* background:#996633; */
    background:#D6D6CC;
    font-family: 'PT Serif', serif;
    font-size: 109%;
    margin: auto;
    padding: 0;
}

i {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: 400;
}

b {
    font-family: 'PT Serif', serif;
    font-style: bold;
    font-weight: 700;
}

#inner {
    margin:25px auto 25px auto;
    padding:0px 10px 0px 10px;
    border:1px solid #7cacdf;
    color:#000000;
    background:#FFFFFF;
    box-shadow:0 0 15px rgba(0,0,0,.25);
    -webkit-box-shadow:0 0 15px rgba(0,0,0,.25);
    -moz-box-shadow:0 0 15px rgba(0,0,0,.25);
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}

/* Reduce the size of the text in the footer so as to make it small and unimposing. */
.footer {
    font-size: 80%;
    text-align: center;
    clear: left;        /* VERY IMPORTANT, OTHERWISE THE FOOTER MAY BEGIN NEXT TO ANY ALIGNED, TRAILING IMAGE! */
    clear: right;
}

/* Configure the footnotes. */
hr.notes {
    width: 33%;
    float: left;
    clear: left;
}

ol.notes {
    clear: left;        /* VERY IMPORTANT, OTHERWISE THE FOOTNOTES MAY BEGIN AT THE END OF THE HORIZONTAL RULER! */
}

li.notes {
}

#logo {
}

/* Justify all text in all paragraphs. */
p.text {
    text-align: justify;
}

/* Also justify list items. */
li {
    text-align: justify;
}

/* Show error messages in red. */
p.error {
    color: red;
}

/* Align all table headers left so as to avoid them floating around in the middle. */
table th {
    border: 1px solid #000000;
    text-align: left;
}

table td {
    border: 1px solid #000000;
}

/* Reduce the font size of code snippets so as to be able to fit them on the page. */
pre {
    font-family: 'Inconsolata', monospace;
    font-size: 80%;
}

/* This style is used only when GeSHi is NOT installed. */
pre.miwiki {
    font-family: 'Inconsolata', monospace;
    font-size: 80%;                     /* The Inconsolata font is a bit large... */
    color: #993366;                     /* Use a purple color for code snippets. */
}

/* Make code words purple just like the code snippets are when GeSHi is not installed. */
tt {
    font-family: 'Inconsolata', monospace;
    font-size: 80%;                     /* The Inconsolata font is a bit large... */
    color: #993366;                     /* Use a purple color for code snippets. */
}

.geshi {
    font-family: 'Inconsolata', monospace;
    font-size: 80%;                     /* The Inconsolata font is a bit large... */
}

/* Make external links light brown (almost orange). */
span.external {
    color: #CC3300;
}

/* Make missing LOCAL links red. */
span.missing {
    color: red;
}

.block {
    margin: 0 auto;
}

#header {
}

#header .block {
}

/* Menu */
#menu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 52px;
    font-size: 115%;
    background: url(/pic/menu-background.png);

}

#menu li {
    float: left;
}

#menu a {
    float:left;
    color: #0F5A91;
    height: 34px;
    line-height: 34px;
    margin-top: 9px;
}

#menu a:hover, #menu .active a {
    background:url(/pic/menu-selector.png) no-repeat;
    color:#fff;
    text-decoration:none;
}

#menu li a span {
    float: left;
    height: 34px;
    padding:0 16px;
}

#menu li a:hover span, #menu li.active a span {
    background:url(/pic/menu-selector.png) no-repeat 100% -34px;
}

@media print {
    #inner {
        margin:0px;
        padding:0px;
        border:0px;
        -moz-border-radius:0px;
        -webkit-border-radius:0px;
    }

    .footer {
        display: none;
    }

    #header ul {
        display: none;
    }

    #logo {
        display: none;
    }

    #menu {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #000000;
    }

    table td {
        border: 1px solid #000000;
    }
}

/* Ensure text areas cannot be resized. */
textarea {
    resize: none;
}

/* Display all embedded images with nice margins for readability of text that wraps around. */
.text img {
    border: 0;
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

p {
    /* border: solid 1px black; */
}

